1. the first form of attack might be a online survey telling you that you could win something but really its just going to take your information.
2. soemone could send you malwear and get you to download it by accident
3. someone could crack your social media infromation and threaten to leak important information of yours online
